
# matlab cache
*.asv

# Python cache
*.pyc
*.un~

# Unnecessary data file, because they are too large
# I will store these precious data with other repository and detailed description readme files
*.txt
*.csv

# testing scripts to be ignored
test*

# ignore video files
*.avi
# Word temporary files
*.tmp
